a{text-decoration: none;}

#username_title{
    font-family: 'Lato', sans-serif;
    vertical-align: middle;
    line-height: 2em;

    color: white;
    background-color: #323232;
    -webkit-box-shadow: inset 200px -200px 33px -200px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 200px -200px 33px -200px rgba(0,0,0,0.75);
    box-shadow: inset 200px -200px 33px -200px rgba(0,0,0,0.75);

    margin: 0;
    width: auto;
    height: 2em;

    padding-left: 5em;
}

#master_container{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 8em;
}

.set_container{
    max-width: 10em;

    display: flex;
    flex-direction: row;
    align-content: space-around;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: #cccccc 5px 5px 0px;
    overflow: hidden;

    margin-bottom: 2em;
    margin-left: 2em;
}

.set_container:hover{
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
}

.color_cont{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: auto;
}

.div1{
    width: .5em;
    height: 25%;
    background-color: #474747;
   
    flex-grow: 1;
}

.set_contents{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: flex-end;
}

.set_title{
    height: 25%;
    width: auto;

    font-family: 'Lato', sans-serif;
    font-weight: bold;

    padding:1em;

    color: #ffffff;
    background-color: #f4a365;
}

.set_description{
    height: 50%;

    font-family: 'Roboto', sans-serif;

    padding:1em;
    margin: 0;

    color: #323232;
    background-color: #70c1b3;
}

.set_user_name{
    font-family: 'Lato', sans-serif;
    font-weight: 100;

    height: auto;
    flex-grow: 1;

    margin:0;
    padding:1em;

    background-color: #f25f5c;
}